li {
  list-style: none;
}
.profileBlock {
  display: block;
  height: auto !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3rem;
  position: relative !important;
  font-family: "supercell+NotoSansKR";
}
@media (min-width: 576px) {
  .profileBlock {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .profileBlock {
    max-width: 680px;
  }
}

/* user/clan info */

.profileBlock .profileContents {
  background: linear-gradient(to top, #6d779a, #8c96ae);
  border-radius: 8px;
  border: 3px solid #6a7497;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  position: relative;
}
.profileBlock .userInfo .userNameTagRole {
  display: flex;
  color: white;
}

.profileBlock .userInfo .userNameTagRole .userLevel {
  display: inline-grid;
}

.profileBlock .userInfo .userNameTagRole .userLevel .icon {
  grid-row: 1/1;
  grid-column: 1/1;
  width: 45px;
  height: 45px;
}

.profileBlock .userInfo .userNameTagRole .userLevel .level {
  grid-row: 1/1;
  grid-column: 1/1;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  font-size: 15px;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo {
  padding: 0 0 0 5px;
  margin: 0;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo li {
  line-height: 15px;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo .userName {
  font-size: 15px;
  font-weight: 700;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo .userTag {
  font-size: 10px;
  color: #c7c9cc;
  font-weight: 600;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo .leagueBadge {
  display: none;
}
@media (max-width: 545px) {
  .profileBlock .userInfo .userNameTagRole .userNameClanInfo .leagueBadge {
    display: inline;
    width: 25px;
    position: relative;
    top: 4px;
  }
}

.profileBlock .userInfo .userNameTagRole .userNameClanInfo .userTagCopy {
  cursor: pointer;
}
.userTagCopy {
  position: relative;
  top: 4px;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo .userRole {
  font-size: 13px;
  font-weight: 600;
}
.profileBlock .userInfo .labels {
  display: flex;
  padding: 0;
}

.profileBlock .userInfo .labels .label img {
  width: 50px;
  margin-right: 5px;
}

.profileBlock .clanInfo {
  display: block;
  border-left: 2px solid #7d819c;
  border-right: 2px solid #7d819c;
  text-align: center;
  width: 200px;
}
@media (max-width: 768px) {
  .profileBlock .clanInfo {
    display: none;
  }
}
.profileBlock .clanInfo .clanName {
  color: white;
  font-size: 13px;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}
.profileBlock .clanInfo .clanBadge {
  width: 150px;
  padding-top: 9px;
}

.profileBlock .userScore {
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
}
@media (min-width: 545px) {
  .profileBlock .userScore {
    width: 30%;
  }
}
.profileBlock .userScore .currentScore {
  display: inline-grid;
  text-align: center;
  margin-bottom: 12px;
}
@media (max-width: 545px) {
  .profileBlock .userScore .currentScore {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.profileBlock .userScore .currentScore .leagueBadge {
  width: 80px;
  position: absolute;
  grid-row: 1/1;
  grid-column: 1/1;
  right: 160px;
}
@media (max-width: 768px) {
  .profileBlock .userScore .currentScore .leagueBadge {
    right: 31%;
  }
}
@media (max-width: 545px) {
  .profileBlock .userScore .currentScore .leagueBadge {
    display: none;
  }
}
.profileBlock .userScore .currentScore .leagueContents {
  grid-row: 1/1;
  grid-column: 1/1;
  margin-top: 12px;
  padding: 0;
  width: auto;
  margin-left: 20px;
}
@media (max-width: 545px) {
  .profileBlock .userScore .currentScore .leagueContents {
    margin: 0;
    width: 100px;
  }
}
.profileBlock .userScore .currentScore .leagueContents .trophy {
  width: 30px;
}
.profileBlock .userScore .currentScore .leagueContents .leagueNameBlock {
  background: linear-gradient(to right, #373a46, #8a94ad);
}
.leagueName {
  line-height: 25px;
}
.profileBlock
  .userScore
  .currentScore
  .leagueContents
  .leagueNameBlock
  .leagueName {
  font-size: 13px;
}
@media (max-width: 425px) {
  .profileBlock
    .userScore
    .currentScore
    .leagueContents
    .leagueNameBlock
    .leagueName {
    font-size: 12px;
  }
}
.profileBlock .userScore .currentScore .leagueContents .leagueScore {
  display: flex;
  background: linear-gradient(to right, #7450ae, #8a94ad);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #403d73, #8a94ad);
  border-image-slice: 1;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}
.profileBlock .userScore .currentScore .leagueContents .score {
  font-size: 15px;
}
.profileBlock .userScore .bestScore,
.profileBlock .userScore .warScore {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profileBlock .userScore .bestScore .type,
.profileBlock .userScore .warScore .type {
  width: 130px;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 300px) {
  .profileBlock .userScore .bestScore .type,
  .profileBlock .userScore .warScore .type {
    width: 120px;
    font-size: 12px;
    text-align: center;
  }
}
.profileBlock .userScore .bestScore .space,
.profileBlock .userScore .warScore .space {
  margin-bottom: 3px;
}

.profileBlock .userScore .bestScore .contents,
.profileBlock .userScore .warScore .contents {
  background-color: #38385b;
  width: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}
@media (max-width: 300px) {
  .profileBlock .userScore .bestScore .contents,
  .profileBlock .userScore .warScore .contents {
    width: 80px;
  }
}
.profileBlock .userScore .bestScore .trophy {
  width: 21px;
  height: 21px;
  margin-top: 1px;
}

.profileBlock .userScore .warStar {
  width: 40px;
  height: 40px;
  left: -15%;
  top: -35%;
  position: absolute;
}

/* ranking */

.profileBlock .profileRanking {
  background: linear-gradient(to top, #49417a, #635c91);
  border-radius: 8px;
  border: 3px solid #42376c;
  padding: 10px;
  position: relative;
  margin-top: 15px;
  height: 150px;
  color: white;
  text-shadow: 1px 2px 1px black;
}

.profileBlock .profileRanking .rankingHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.profileBlock .profileRanking .rankingContents {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.profileBlock .profileRanking .rankingContents li {
  display: flex;
  width: 100%;
}
.profileBlock .profileRanking .rankingContents li .badgeRanking {
  display: inline-grid;
}

.profileBlock .profileRanking .rankingContents li .leagueBadge {
  width: 90px;
  grid-row: 1/1;
  grid-column: 1/1;
  text-align: center;
}
@media (max-width: 375px) {
  .profileBlock .profileRanking .rankingContents li .leagueBadge {
    width: 70px;
  }
}
@media (max-width: 405px) {
  .profileBlock .profileRanking .rankingContents li .leagueBadge {
    width: 65px;
  }
}
@media (max-width: 370px) {
  .profileBlock .profileRanking .rankingContents li .leagueBadge {
    width: 60px;
  }
}
.profileBlock .profileRanking .rankingContents li .ranking {
  grid-row: 1/1;
  grid-column: 1/1;
  margin-top: 29px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 405px) {
  .profileBlock .profileRanking .rankingContents li .ranking {
    margin-top: 21px;
    font-size: 18px;
  }
}
@media (max-width: 370px) {
  .profileBlock .profileRanking .rankingContents li .ranking {
    margin-top: 19px;
    font-size: 16px;
  }
}
.profileBlock .profileRanking .rankingContents li .typeAmount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  width: 140px;
}
@media (max-width: 768px) {
  .profileBlock .profileRanking .rankingContents li .typeAmount {
    width: 60%;
  }
}
@media (max-width: 280px) {
  .profileBlock .profileRanking .rankingContents li .typeAmount {
    width: 58%;
  }
}

.profileBlock .profileRanking .rankingContents li .typeAmount .type {
  text-align: left;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  margin-bottom: 4px;
}

.profileBlock .profileRanking .rankingContents .amount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #212032;
  border-radius: 3px;
}

.profileBlock .profileRanking .rankingContents .scoreDiv {
  margin-left: 30px;
  width: calc(100% - 40px);
  justify-content: center;
  text-align: center;
}

.profileBlock .profileRanking .rankingContents .amount .score {
  padding: 4px;
  font-size: 16px;
}

.profileBlock .profileRanking .rankingContents .amount .trophy {
  width: 40px;
  display: flex;
  position: absolute;
}
@media (max-width: 370px) {
  .profileBlock .profileRanking .rankingContents .amount .trophy {
    width: 35px;
  }
}
@media (max-width: 280px) {
  .profileBlock .profileRanking .rankingContents .amount .trophy {
    width: 30px;
  }
}
