li {
  list-style: none;
}
.profileBlock {
  display: block;
  height: auto !important;
  margin-top: 1rem !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative !important;
}
@media (min-width: 576px) {
  .profileBlock {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .profileBlock {
    max-width: 720px;
  }
}
.profileBlock .profileContents {
  background-color: #8a94ad;
  border-radius: 8px;
  border: 2px solid #6a769c;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.profileBlock .userInfo {
  border-right: 1px solid grey;
}
.profileBlock .userInfo .userNameTagRole {
  display: flex;
  color: white;
}

.profileBlock .userInfo .userNameTagRole .userLevel {
  display: inline-grid;
}

.profileBlock .userInfo .userNameTagRole .userLevel .icon {
  grid-row: 1/1;
  grid-column: 1/1;
  text-align: center;
  font-size: 40px;
  color: #2695c0;
}

.profileBlock .userInfo .userNameTagRole .userLevel .level {
  grid-row: 1/1;
  grid-column: 1/1;
  margin-top: 9px;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 2px 1px black;
  font-size: 20px;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo {
  padding: 0 0 0 5px;
  margin: 0;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo li {
  line-height: 15px;
  text-shadow: 1px 2px 1px black;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo .userName {
  font-size: 20px;
  font-weight: 700;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo .userTag {
  font-size: 13px;
  color: #c7c9cc;
  font-weight: 600;
}
.profileBlock .userInfo .userNameTagRole .userNameClanInfo .userRole {
  font-size: 13px;
  font-weight: 600;
}
.profileBlock .userInfo .labels {
  display: flex;
  padding: 0;
}

.profileBlock .userInfo .labels .label img {
  width: 50px;
  margin-right: 5px;
}

.profileBlock .clanInfo {
  border-right: 1px solid grey;
  text-align: center;
  width: 200px;
}
.profileBlock .clanInfo .clanName {
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-shadow: 1px 2px 1px black;
}
.profileBlock .clanInfo .clanBadge {
  width: 150px;
  padding-top: 9px;
}
.profileBlock .userScore {
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 1px 2px 1px black;
  font-weight: 700;
}

.profileBlock .userScore .currentScore {
  display: flex;
  text-align: center;
}

.profileBlock .userScore .currentScore .leagueBadge {
  width: 80px;
}
.profileBlock .userScore .currentScore .leagueContents {
  margin-top: 12px;
  padding: 0;
}
.profileBlock .userScore .currentScore .leagueContents .trophy {
  width: 30px;
}
.profileBlock .userScore .currentScore .leagueContents .leagueNameBlcok {
  background: linear-gradient(to right, #373a46, #8a94ad);
}
.profileBlock
  .userScore
  .currentScore
  .leagueContents
  .leagueNameBlcok
  .leagueName {
  font-size: 10px;
}
.profileBlock .userScore .currentScore .leagueContents .leagueScore {
  display: flex;
  background: linear-gradient(to right, #7450ae, #8a94ad);
  border-radius: 3px;
  align-items: center;
}
.profileBlock .userScore .currentScore .leagueContents .score {
  font-size: 20px;
}
.profileBlock .userScore .bestScore,
.profileBlock .userScore .warScore {
  display: flex;
  flex-direction: column;
}
.profileBlock .userScore .bestScore .type,
.profileBlock .userScore .warScore .type {
  width: 130px;
  font-size: 10px;
  text-align: left;
  margin-left: 30px;
}

.profileBlock .userScore .bestScore .space,
.profileBlock .userScore .warScore .space {
  margin-bottom: 5px;
}

.profileBlock .userScore .bestScore .contents,
.profileBlock .userScore .warScore .contents {
  background-color: #38385b;
  width: 130px;
  margin-left: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.profileBlock .userScore .bestScore .trophy {
  width: 15px;
}
