table {
  border: 1px solid #e6e2d6;
  border-collapse: collapse;
}

.head {
  background-color: #e6e2d6;
}

.head tr th {
  font-weight: normal;
  color: #5e4a3e;
  font-size: 14px;
  padding: 12px 16px;
}

th,
td {
  padding: 0.5rem;
}
tbody tr td {
  border-bottom: 1px solid #e6e2d6;
  font-size: 14px;
  padding: 12px 16px;
  text-align: center;
}
